/* Define o estilo da página */

body {
    background-color: #f0f0f0; /* Cor de fundo da página */
    font-family: Arial, sans-serif; /* Fonte usada no texto */
}

h1 {
    color: blue; /* Cor do título */
    text-align: center; /* Centraliza o título */
}

p {
    color: #333; /* Cor dos parágrafos */
}

a {
    color: green; /* Cor dos links */
}
 
button {
    background-color: green; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    padding: 10px; /* Espaçamento interno */
    border: none; /* Remove a borda */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}

button:hover {
    background-color: rgb(15, 0, 100); /* Cor ao passar o mouse */
}
